.grid-container {
    display: grid;
    grid-template-columns: 0.10fr 1.8fr 0.10fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
    ". header ."
    ". schedule ."
    ". form .";
}
.header {
    grid-area: header;
    text-align: center;
}
.train-schedule {
    grid-area: schedule;
    border: 1px solid #2D7CB7;
    border-radius: 4px;
    margin-bottom: 2em;
}
.form {
    grid-area: form;
    border: 1px solid #2D7CB7;
    margin-bottom: 2em;
    border-radius: 4px;
    margin-bottom: 2em;
}

.jumbotron {
    background-color: #81452D;
    color: #fff;
}
.sub-header {
    background-color: #2D7CB7;
    color: #fff;
    padding: 1em;
    font-weight: bold;
}
.form form {
    padding: 1em;
}

@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 0.25fr 1.5fr 0.25fr;
    }
}